<h1>Listing teams</h1>

<% @teams.sort_by {|team| team.group}.group_by {|team| team.group}.each do
|group, teams| %>
  <p> <b> <%= "GROUP #{group}" %> </b> </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Coach</th>
        <th>Group</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.coach %></td>
          <td><%= team.group %></td>
          <td><%= link_to 'Show', team %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>