<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>

<p>
  <strong>Group:</strong>
  <%= @team.group %>
</p>

<%= link_to 'Back', teams_path %>
