= form_for(@group, url: member_subscriptions_path(@group)) do |f|
  %div
    = f.label :group_name
    %br
    = f.text_field :group_name, autofocus:true
  %div
    = f.label :token
    %br
    = f.password_field :token, autocomplete: 'off'

  = f.submit 'Suscribirme', class: 'button signup-btn'