<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arena.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @arena.city %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @arena.capacity %>
</p>

<%= link_to 'Edit', edit_arena_path(@arena) %> |
<%= link_to 'Back', arenas_path %>
