.forecasts-container
  .row
    - @standings.each_pair do |group, participants|
      .group-standings-panel
        .title
          = group
        %table
          %tr.header
            %th.name Email
            %th Puntos
          - participants.each do |user|
            %tr
              %td.name= user.email
              %td= user.points

  .row
    %a{:href => '#', 'data-reveal-id' => 'subscibeToGroupModal', 'data-reveal' => true, :class => ['button', 'save-forecast-btn']}
      Suscribirme a un grupo
    - if current_member and current_member.is_admin
      %a{:href => '#', 'data-reveal-id' => 'createAGroupModal', 'data-reveal' => true, :class => ['button', 'save-forecast-btn']}
        Crear un grupo

#subscibeToGroupModal.reveal-modal.tiny{'data-reveal' => true}
  = render 'groups/subscribe'

#createAGroupModal.reveal-modal.tiny{'data-reveal' => true}
  = render 'groups/new'