.forecasts-container
  - if (current_member.is_admin)
    .row
      = form_tag '/puntos/recalcular', method: 'post' do
        = submit_tag 'Recalculate points', class: ['button', 'save-forecast-btn']

  .row
    - @standings.each_pair do |group, participants|
      .group-standings-panel
        .title
          = group
        %table
          %tr.header
            %th.name Participant
            %th Points
          - participants.each do |user|
            %tr
              %td.name
                = user.name.present? ? user.name : user.email
              %td= user.points || 0