.forecasts-container
  .row
    = form_tag '/resultados/actualizar' do
      = submit_tag 'Actualizar Resultados', class: ['button', 'save-forecast-btn']
      %br
      .groups
        - @matches.each do |group, matches|
          .group-panel
            .title="Grupo #{group}"
            .matches
              .content{id: "panel#{group}"}
                .row
                  .small-7.columns
                    = render partial: 'match_results', collection: matches, as: :match_result
                  .small-5.columns
                    - teams = Team.where(group: group)
                    .positions
                      %table{data: {teams: teams.map { |t| t.name.downcase }}}
                        %tr.header
                          %th.team Equipo
                          %th pts
                          %th gf
                          %th gc
                        - teams.each do |team|
                          %tr
                            %td.team= team.name
                            %td.pts
                            %td.gf
                            %td.gc

  .row
    .playoffs
      -# OCTAVOS A
      .columns.stage.left-side
        .four
          .match
            #one-A.team
              .name
              .score
                X
            #two-B.team
              .name
              .score
                X
        .four
          .match
            #one-C.team
              .name
              .score
                X
            #two-D.team
              .name
              .score
                X
        .four
          .match
            #one-E.team
              .name
              .score
                X
            #two-F.team
              .name
              .score
                X
        .four
          .match
            #one-G.team
              .name
              .score
                X
            #two-H.team
              .name
              .score
                X

      -# CUARTOS A
      .columns.stage.left-side
        .two
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X
        .two
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X

      -# SEMIS A
      .columns.stage.left-side
        .one
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X

      -# FINAL
      .columns.stage.center-side
        .one
          .match
            .team
              .score
                X
            .team
              .score
                X

      -# SEMIS B
      .columns.stage.right-side
        .one
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X

      -# CUARTOS B
      .columns.stage.right-side
        .two
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X
        .two
          .match
            .team
              .name
              .score
                X
            .team
              .name
              .score
                X

      -# OCTAVOS B
      .columns.stage.right-side
        .four
          .match
            #one-B.team
              .name
              .score
                X
            #two-A.team
              .name
              .score
                X
        .four
          .match
            #one-D.team
              .name
              .score
                X
            #two-C.team
              .name
              .score
                X
        .four
          .match
            #one-F.team
              .name
              .score
                X
            #two-E.team
              .name
              .score
                X
        .four
          .match
            #one-H.team
              .name
              .score
                X
            #two-G.team
              .name
              .score
                X

:javascript
  forecast()