
<%= form_for(@match) do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.datetime_field :date %>
  </div>
  <div>
    <%= f.label :team1_id %>
    <%= f.select :team1_id, options_from_collection_for_select(Team.all, :id, :name, selected: @match.team1_id) %>
  </div>
  <div>
    <%= f.label :team2_id %>
    <%= f.select :team2_id, options_from_collection_for_select(Team.all, :id, :name, selected: @match.team2_id) %>
  </div>
  <div>
    <%= f.label :arena_id %>
    <%= f.select :arena_id, options_from_collection_for_select(Arena.all, :id, :name, selected: @match.arena_id) %>
  </div>

  <%= f.submit %>
<% end %>
