.forecasts-container
  .row
    - if current_member and current_member.is_admin
      = link_to 'Go to Update Results', results_path, class: ['button', 'save-forecast-btn']
      %br
  .row
    .groups
    - @matches.where(stage: 32).sort_by(&:pos_in_stage).group_by(&:group).sort_by { |group, _| group }.each do |group, matches|
      .group-panel
        .title="Group #{group}"
        .matches
          .content{id: "panel#{group}"}
            .row
              .small-7.columns
                = render partial: 'match', collection: matches, as: :match
              .small-5.columns
                - teams = Team.where(group: group)
                .positions
                  %table{data: {teams: teams.map { |t| t.name.downcase }}}
                    %tr.header
                      %th.team Team
                      %th pts
                      %th gf
                      %th gc
                    - teams.each do |team|
                      %tr
                        %td.team= team.name
                        %td.pts
                        %td.gf
                        %td.gc

  = render partial: 'playoffs'

:javascript
  fixture()