<h1>Listing Matches</h1>

<% @matches.sort_by {|match| match.group}.group_by {|match| match.group}.each {
|group, matches| %>
  <p> <b> <%= "GROUP #{group}" %> </b> </p>
  <table>
    <tr>
      <th>Date</th>
      <th>Arena</th>
      <th>Local</th>
      <th>Away</th>
      <th>Result</th>
      <th></th>
    </tr>
    <% matches.each do |match| %>
      <tr>
        <td><%= match.date %></td>
        <td><%= match.arena.try(:name) %></td>
        <td><%= match.team1 ? match.team1.name : match.team1_description %></td>
        <td><%= match.team2 ? match.team2.name : match.team2_description %></td>
        <td><%= "#{match.team1_score} - #{match.team2_score}" %></td>
        <td>
          <%= link_to 'Show', match_path(match) %>
        </td>
      </tr>
    <% end %>
  </table>
<% } %>