<h1>Listing Matches</h1>
<%= link_to 'New Match', new_match_path %>
<table>
  <tr>
    <th>Date</th>
    <th>Arena</th>
    <th>Local</th>
    <th>Away</th>
    <th>Result</th>
    <th></th>
  </tr>
  <% @matches.each do |match| %>
    <tr>
      <td><%= match.date %></td>
      <td><%= match.arena.try(:name) %></td>
      <td><%= match.team1_description %></td>
      <td><%= match.team2_description %></td>
      <td><%= "#{match.team1_score} - #{match.team2_score}" %></td>
      <td>
        <%= link_to 'Edit', edit_match_path(match) %> |
        <%= link_to 'Destroy', match_path(match), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
