%li
  .row
    .small-4.columns
      %p.text-center
        = match_forecast.date || "Falta fijar fecha"
  .row.forecast_inputs
    .small-2.columns
      %label.inline
        = match_forecast.team1.try :name
    .small-3.columns
      = text_field_tag "forecast[#{match_forecast.id}][team1_score]", match_forecast.forecasts.first.try(:team1_score), class: match_forecast.team1.try(:name).try(:downcase)
    .small-3.columns
      = text_field_tag "forecast[#{match_forecast.id}][team2_score]", match_forecast.forecasts.first.try(:team2_score), class: match_forecast.team2.try(:name).try(:downcase)
    .small-2.columns.left
      %label.inline
        = match_forecast.team2.try :name
