<div class='match forecast'>
  <%= label_tag :date %>
  <%= match_forecast.date %>
  <br />
  <%= match_forecast.team1.try :name %>
  <%= number_field_tag "forecast[#{match_forecast.id}][team1_score]", match_forecast.forecasts.first.try(:team1_score) %>
  <%= number_field_tag "forecast[#{match_forecast.id}][team2_score]", match_forecast.forecasts.first.try(:team2_score) %>
  <%= match_forecast.team2.try :name %>
  <br />
</div>
