%h1
  Ingresar Resultados
.row
  = form_tag do
    %dl.accordion{'data-accordion' => ''}
      - @matches.each do |group, matches|
        %dd
          %a{href: "#panel#{group}"}
            Grupo #{group}
          .content{id: "panel#{group}", class: group == 'A' ? 'active' : ''}
            .row
              .small-10.columns
                .small-block-grid-3
                  = render partial: 'match_forecast', collection: matches, as: :match_forecast
              .small-2.columns
                - teams = Team.where(group: group)
                %table{data: {teams: teams.map { |t| t.name.downcase }}}
                  %caption
                    Grupo #{group}
                  %tr
                    %th Equipo
                    %th pts
                    %th dif
                  - teams.each do |team|
                    %tr
                      %td= team.name
                      %td.pts
                      %td.dif

    <br />
    = submit_tag 'Save'

:javascript
  forecast()
