.forecasts-container
  .groups
    = form_tag do
      - @matches.each do |group, matches|
        .group-panel
          .title
            Grupo #{group}
          .matches
            .content{id: "panel#{group}"}
              .row
                .small-7.columns
                  = render partial: 'match_forecast', collection: matches, as: :match_forecast
                .small-5.columns
                  - teams = Team.where(group: group)
                  .positions
                    %table{data: {teams: teams.map { |t| t.name.downcase }}}
                      %tr.header
                        %th.team Equipo
                        %th pts
                        %th dif
                      - teams.each do |team|
                        %tr
                          %td.team= team.name
                          %td.pts
                          %td.dif

      <br />
      = submit_tag 'Actualizar Pronostico', class: ['button', 'save-forecast-btn']

:javascript
  forecast()