<h1>Listing forecasts</h1>

<table>
  <thead>
    <tr>
      <th>Team1 score</th>
      <th>Team2 score</th>
      <th>Match</th>
      <th>Winner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.team1_score %></td>
        <td><%= forecast.team2_score %></td>
        <td><%= forecast.match_id %></td>
        <td><%= forecast.winner_id %></td>
        <td><%= link_to 'Show', forecast %></td>
        <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
        <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast', new_forecast_path %>
