%nav.top-bar{'data-topbar' => ''}
  %ul.title-area
    %li.name
      %h1
        = link_to 'CopaAmerica 2016', root_path
  %section.top-bar-section
    %ul.right
      %li
        = link_to 'Standings', root_path
      %li
        = link_to 'Forecast', forecasts_path
      %li
        = link_to 'Results', matches_path
      %li
        = link_to 'Rules', reglas_path
      %li.has-dropdown.active
        %a{href: "#"}
          = current_member.email
        %ul.dropdown
          %li
            = link_to 'Log Out', destroy_member_session_path, {method: 'delete'}